:root{
    --color-background-hue:200;
    --color-danger-hue-offset:180;
    --color-danger-hue:calc(var(--color-background-hue) - var(--color-danger-hue-offset));
    --color-background-dark: hsl(var(--color-background-hue),100%,8%);
    --color-background-light: hsl(200,100%,16%);

    --color-text-light: hsl(200,100%,87%);

}