<h2>Edit Author</h2>

<form action="/authors/<%= author.id%>?_method=PUT" method="POST">
    <%- include('_formfields')%>
    <a href="/authors/<%=author.id%>">Cancel</a>
    <button type="submit">Update</button>
</form>